*{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: auto;
    height: auto;
    min-height: 300px;
    padding: 0 0px;
}
.slide{
    width: 100%;
    height: 100%;
    position: relative;
    background-image:url(image\ 12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.blur
{
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter:blur(2.5px);
    width: 100%;
    height: 100%;
}
.back
{
    filter: blur(4px);
}
.header{
    position: relative;
    padding: 60px 66px;
}
.header .logo{
    float: left;
}
.header .menu{
    float: right;
    
}
.menu ul li{
    list-style: none;
    display: inline-block;
}
.menu ul li a{
    display: block;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}    
.menu ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2.5px solid green;
    transition: 0.4s linear;
}
.manu ul li a:hover::before{
    width: 90px;
}
.paperworks{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paperworks h1{
    font-size: 60px;
    margin-bottom: 15px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
/*.paperworks p{
    font-size: 10px;
    padding: 0 5px;
    text-align: left;
    margin-bottom: 80px;
}*/
.paper{
    box-shadow: 0 0 5px chartreuse,0 0 25px chartreuse;
    margin-left: 225px;
    margin-top: 300px;
    margin-right: 985px;
}
/*button:hover {
    box-shadow: 0 0 5px chartreuse,
    0 0 35px rgb(99, 177, 21), 0 0 50px rgb(99, 177, 21),
    0 0 100px rgb(99, 177, 21),0 0 200px rgb(99, 177, 21);
}*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
/*.a
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #27282c;
}*/
a
{
    position: relative;
    background: #949f89;
    color:  aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    border-bottom: 2.5px solid green;
}
a:hover
{
    background: var(--clr);
    letter-spacing: 0.30em;
    box-shadow: 0 0 35px;
}
a:before
{
    content: '';
    position: relative;
    inset: 4px;
}
.font
{
    font-size: 14px;
}
.print{
    font-size: 11px;
    padding: 0 5px;
    text-align: left;
    margin-bottom: 80px;
    color: aliceblue;
}
@media(max-width:998px){
    html {
        font-size: 55%;
    }
}
@media(max-width:768px){
    html {
        font-size: 45%;
    }
}
